*.png
*.gif
*.jpg
*.jpeg
*.jar
images/*.png
images/*.gif
images/*.jpg
images/*.jpeg
images/*.jar
images/images/*.png
images/images/*.gif
images/images/*.jpg
images/images/*.jpeg
images/images/*.jar